<div class="main-index">
 {{>indexMenuTemplate}}

  <div id="shifts-for-months" class="shifts-for-months">
  </div>

  <!-- LINK TO NEW SHIFT -->
  <a id="new-shift-trigger" class="new-shift-trigger" data-off-line-link="true" href="{{ newShiftPath }}">
    <span class="">&plus;</span>
  </a>
  <!-- /LINK TO NEW SHIFT -->
</div>
