<div id="body-modal-dimmer" class="ui dimmer modal page transition body-modal-dimmer body-modal-dismisser animating visible active">
  <div class="ui modal transition animating visible active">
    <div id="body-modal-content" class="content">{{{modalContent}}}</div>
    <div class="actions">
      <div class="ui cancel button body-modal-dismisser animating visible active">
        Dismiss
      </div>
    </div>
  </div>
</div>
