<div class="ui buttons">
  <button id="new-shift-confirm__submit" type="button" class="ui positive button new-shift-confirm__submit">
    Save
  </button>

  <div class="or"></div>

  <button id="new-shift-confirm__edit" type="button" class="ui button new-shift-confirm__edit">
    Edit
  </button>
</div>
