<span id="earnings-summary__label" class="earnings-summary__label">
  Total Earnings &nbsp; &nbsp;
{{ currentMonthYear }}</span>


  <span class="earnings-summary__amount">
    &euro;

        {{ totalEarnings }}
  </span>
