<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="wages shift work clocks clock wage">
  <meta name="author" content="maneptha@gmail.com">

  <title>Hello Burda!</title>
  <%= page_css(:index) %>
    <%= page_css(assigns[:page_css] ) %>

</head>

<body>

  <!-- APP SIDEBAR -->
  <div id="app-sidebar" class="ui left vertical inverted sidebar labeled icon menu">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="smile icon"></i>
      Friends
    </a>
  </div>
  <!-- /APP SIDEBAR -->



  <div id="app-container" class="app-container">

    <!-- TOP MENU (if exported by child) -->
    <%= top_menu(@view_module, %{} = assigns) %>
      <!-- /TOP MENU -->

      <!-- MAIN CHILD TEMPLATE INSERT -->
      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>
      <!-- /MAIN CHILD TEMPLATE INSERT -->

      <div class="body-modal-insert hidden" id="body-modal-insert"></div>

  </div>

  <script>
    window.appInterface = {};
    window.appInterface.newMetaFormUrl = "<%= meta_path(@conn, :new) %>";
    window.appInterface.modalParentEl = document.getElementById(
      "body-modal-insert"
    );
  </script>
  <%= page_js(:index) %>
    <%= page_js(assigns[:page_js] ) %>
</body>

</html>
