<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="wages shift work clocks clock wage">
  <meta name="author" content="maneptha@gmail.com">

  <title>Hello Burda!</title>
  <%= page_css(@conn, :index) %>
    <%= page_css(@conn, assigns[:page_css] ) %>

</head>

<body>

  <!-- APP SIDEBAR -->
  <div id="app-sidebar" class="ui left vertical inverted sidebar labeled icon menu">
    <a class="item">
      <i class="home icon"></i>
      Home
    </a>
    <a class="item">
      <i class="block layout icon"></i>
      Topics
    </a>
    <a class="item">
      <i class="smile icon"></i>
      Friends
    </a>
  </div>
  <!-- /APP SIDEBAR -->



  <div id="app-container" class="app-container">

    <!-- TOP MENU -->
    <div class="ui inverted menu">
      <div class="ui container">
        <a id="sidebar-trigger" class="item">
          <i class="content icon"></i>
        </a>

        <div class="item main-menu__title">
          <%= assigns[:current_month] || "Burda" %>
        </div>

        <div class="right menu">
          <div class="ui right aligned category search item">
            <div class="ui transparent icon input ">
              <input class="prompt" type="text" placeholder="Search dates...">
              <i class="search link icon inverted"></i>
            </div>
            <div class="results"></div>
          </div>
        </div>
      </div>
    </div>
    <!-- /TOP MENU -->



    <main role="main">
      <%= render @view_module, @view_template, assigns %>
    </main>

  </div>



  <%= page_js(@conn, :index) %>
    <%= page_js(@conn, assigns[:page_js] ) %>
</body>

</html>
