$border-color: unquote("#034c035c");

.index-route-menu__title {
  font-weight: 900;
}

.main-index {
  height: 100%;
  overflow: hidden;
  display: grid;
  grid-template-rows: auto 1fr auto;
  padding: 0 8px;
}

.shift-summaries {
  margin-top: 3px;
}

.shift-details {
  overflow-x: hidden;
  overflow-y: auto;
}

.earnings-summary {
  border: 1px solid #034803;
  color: white;
  display: grid;
  grid-template-columns: 1fr minmax(auto, 25%);
  margin-bottom: 1px;

  & > span {
    padding: 5px;
  }

  & > :first-child {
    background: #039e03;
  }

  & > :last-child {
    background: #029602;
    text-align: right;
    font-weight: 900;
    border-left: 3px solid green;
  }
}

.shift-detail-row {
  position: relative;
  border: 1px solid $border-color;
  margin-top: 25px;
  margin-left: 5px;
  margin-right: 5px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 5px $border-color;

  &:first-of-type {
    margin-top: 15px;
  }

  &:last-of-type {
    margin-bottom: 25px;
  }
}

.date-times {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  position: absolute;
  left: 22px;
  top: -10px;
  margin-bottom: 10px;
  background: white;

  & > :first-child {
    margin-right: 5px;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: green;
  }

  & > :last-child {
    margin-left: 5px;
  }
}

.hours-earnings-container {
  margin-top: 15px;
  border: 1px solid $border-color;
  border-radius: 5px;
}

.hours-earnings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid $border-color;

  &.header {
    background: green;
    color: white;
    font-weight: 900;
    font-size: 1.03em;
    text-align: center;

    & > span {
      border-right: 3px solid $border-color;
    }
  }

  &.detail {
    & > span {
      border-right: 1px solid $border-color;

      &:not(:first-child) {
        padding-right: 8px;
        text-align: right;
      }
    }
  }

  &:last-child {
    border-bottom: none;
  }

  & > span {
    padding: 3px;

    &:last-child {
      border-right: none;
    }
  }
}

.total-earning {
  text-align: right;
  font-weight: 900;
  font-size: 1.14em;
  padding: 8px 5px 0;
}

.new-container {
  display: flex;
  flex-direction: row-reverse;
  padding: 0 20px 15px;

  & > a {
    display: block;
    border-radius: 50%;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: green;
    color: white;
    cursor: pointer;
    z-index: 101;

    & > span {
      font-weight: 900;
      font-size: 1.5em;
    }
  }
}
