$border-color: #034c035c;

.shift-detail-row {
  position: relative;
  border: 1px solid $border-color;
  margin-top: 25px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: 2px 5px $border-color;
}
.date-times {
  display: flex;
  justify-content: space-between;
  font-weight: bold;
  position: absolute;
  left: 27px;
  top: -10px;
  margin-bottom: 10px;
  background: white;

  & > :first-child {
    margin-right: 5px;
    text-decoration-line: underline;
    text-decoration-style: initial;
    text-decoration-color: green;
  }
}

.hours-earnings-container {
  margin-top: 15px;
  border: 1px solid $border-color;
  border-radius: 5px;
}

.hours-earnings {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid $border-color;

  &.header {
    background: green;
    color: white;
    font-weight: 900;
    font-size: 1.03em;
  }

  &:last-child {
    border-bottom: none;
  }

  & > span {
    border-right: 1px solid $border-color;
    padding: 3px;

    &:last-child {
      border-right: none;
    }
    &:not(:first-child) {
      text-align: right;
    }
  }
}

.total-earning {
  text-align: right;
  font-weight: 900;
  font-size: 1.14em;
  padding: 8px 5px 0;
}
