<div>
  <style>
    .new-app-available {
      border: 1px solid #b7b7b7;
      padding: 10px;
      border-radius: 3px;
      color: #ffffffe6;
    }

    .new-app-available-container {
      cursor: pointer;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      opacity: 1;
      background: #fdfdfdc2;
      display: flex;
      justify-content: center;
      align-items: flex-end;
    }

  </style>

  <div id="new-app-available-container" class="new-app-available-container">
    <div class="ui green inverted menu new-app-available">
      New content is available; please click to refresh.
    </div>
  </div>
</div>
