<div class="new-shift-main">
  <form id="new-shift-form" class="ui form new-shift-form">
    <div id="new-shift-form__error-main" class="ui negative message hidden new-shift-form__error-main">
    </div>

    <!-- SELECT OR CREATE META -->
    <div class="ui top attached segment form__field select-meta">
      <div class="ui top attached label">
        Select Meta or create new.
      </div>

      <div class="meta-id ui right labeled input">
        <select name="metaId" id="select-meta" class="ui search dropdown fluid">
          <option value="">-----</option>

          <%= for {meta, selected} <- @metas do %>
            <option value="<%= meta.id %>" <%=selected%> >
              <%= Float.round(meta.break_time_secs/60, 1) %> min | &euro;
                <%= meta.pay_per_hr %> night:
                  <%= meta.night_suppl_pay_pct %> &percnt; sunday:
                    <%= meta.sunday_suppl_pay_pct %> &percnt;
            </option>
            <%end%>
        </select>

        <div id="get-new-meta-form-button" class="ui label">
          <i class="plus icon"></i>
        </div>
      </div>

      <div class="new-shift-form__error form__error hidden"></div>
      <input type="hidden" id="metaId-default" value="<%=@meta_id_default%>">
    </div>
    <!-- /SELECT OR CREATE META -->

    <!-- SHIFT DATE -->
    <div class="ui top attached segment date-segment form__field">
      <div class="ui top attached label">
        Date
      </div>

      <div class="new-shift-form__fields three">
        <div>
          <select name="dayOfMonth" id="day-of-month" class="ui search dropdown">
            <option value="">Day</option>

            <%= for {day, val} <- @days_of_month do %>
              <option value="<%= day %>" <%=val.selected%>>
                <%= val.display %>
              </option>
              <%end%>
          </select>

          <div class="new-shift-form__error form__error hidden"></div>
        </div>

        <div>
          <select name="monthOfYear" id="month-of-year" class="ui search dropdown">
            <option value="">Month</option>

            <%= for {month, val} <- @months_of_year do %>
              <option value="<%= month %>" <%=val.selected%>>
                <%= val.display %>
              </option>
              <%end%>
          </select>

          <div class="new-shift-form__error form__error hidden"></div>
        </div>

        <div>
          <select name="year" id="year" class="ui search dropdown">
            <option value="">Year</option>

            <%= for {year, selectionx} <- @years do %>
              <option value="<%= year %>" <%=selectionx%>>
                <%= year %>
              </option>
              <%end%>
          </select>

          <div class="new-shift-form__error form__error hidden"></div>
        </div>
      </div>


      <input type="hidden" id="dayOfMonth-default" value="<%=@day_default%>">

      <input type="hidden" id="monthOfYear-default" value="<%=@month_default%>">

      <input type="hidden" id="year-default" value="<%=@year_default%>">
    </div>
    <!-- /SHIFT DATE -->

    <!-- START TIME -->
    <div class="ui top attached segment start-time-segment form__field">
      <div class="ui top attached label">
        Start time
      </div>

      <div class="new-shift-form__fields two">
        <div>
          <input name="startTimeHr" id="start-time-hour" name="start-time-hour" type="number" min="0" max="23" placeholder="HH" autocomplete="off"
            maxlength="2" value="<%= @shift_start_time.hour %>">

          <div class="new-shift-form__error form__error hidden"></div>
        </div>

        <div>
          <input name="startTimeMin" id="start-time-min" name="start-time-min" type="number" min="0" max="59" placeholder="MM" autocomplete="off"
            maxlength="2" value="<%= @shift_start_time.minute %>">

          <div class="new-shift-form__error form__error hidden"></div>
        </div>
      </div>

      <input type="hidden" id="startTimeHr-default" value="<%=@shift_start_time.hour%>">

      <input type="hidden" id="startTimeMin-default" value="<%=@shift_start_time.minute%>">
    </div>
    <!-- /START TIME -->

    <!-- END TIME -->
    <div class="ui top attached segment end-time-segment form__field">
      <div class="ui top attached label">
        End time
      </div>

      <div class="new-shift-form__fields two">
        <div>
          <input name="endTimeHr" id="end-time-hour" name="end-time-hour" type="number" min="0" max="23" placeholder="HH" autocomplete="off"
            maxlength="2" value="<%= @shift_end_time.hour %>">

          <div class="new-shift-form__error form__error hidden"></div>
        </div>

        <div>
          <input name="endTimeMin" id="end-time-min" name="end-time-min" type="number" min="0" max="59" placeholder="MM" autocomplete="off"
            maxlength="2" value="<%= @shift_end_time.minute %>">

          <div class="new-shift-form__error form__error hidden"></div>
        </div>
      </div>


      <input type="hidden" id="endTimeHr-default" value="<%=@shift_end_time.hour%>">

      <input type="hidden" id="endTimeMin-default" value="<%=@shift_end_time.minute%>">
    </div>
    <!-- /END TIME -->

    <div class="new-shift-form__buttons">
      <div class="ui buttons">
        <button id="new-shift-form-submit" type="submit" class="ui positive button">
          Save
        </button>

        <div class="or"></div>

        <button id="new-shift-form-reset" type="button" class="ui button">
          Reset
        </button>
      </div>
    </div>
  </form>

</div>
