<div class="new-shift-main">
  <form id="new-shift-form" class="ui form new-shift-form">
    <div id="new-shift-form__error-main" class="ui negative message hidden new-shift-form__error-main">
    </div>

    <!-- SELECT OR CREATE META -->
    <div class="ui top attached segment form__field select-meta">
      <div class="ui top attached label">
        Select Meta or create new.
      </div>

      <div class="meta-id ui right labeled input">
        <select name="metaId" id="select-meta" class="ui search dropdown fluid">
          <option value="">-----</option>

          <%= if assigns[:metas] do  %>

            <%= for meta_ <- assigns[:metas] do %>
              <%{meta, selected} = meta_%>
                <option value="<%= meta.id %>" <%=selected%> >
                  <%= Float.round(meta.break_time_secs/60, 1) %> min | &euro;
                    <%= meta.pay_per_hr %> night:
                      <%= meta.night_suppl_pay_pct %> &percnt; sunday:
                        <%= meta.sunday_suppl_pay_pct %> &percnt;
                </option>
                <%end%>

                  <% else %>
                    {{#each metas}}
                    <option value="{{id}}" {{selected}}>
                      {{breakTimeSecs}} min | &euro; {{payPerHr}} night: {{nightSupplPayPct}} &percnt; sunday: {{sundaySupplPayPct}} &percnt;
                    </option>
                    {{/each}}
                    <% end %>
        </select>

        <div id="get-new-meta-form-button" class="ui label">
          <i class="plus icon"></i>
        </div>
      </div>

      <div class="new-shift-form__error form__error hidden"></div>
      <input type="hidden" id="metaId-default" value="<%= assigns[:meta_id_default] || ~s() %>">
    </div>
    <!-- /SELECT OR CREATE META -->

    <!-- SHIFT DATE -->
    <div class="ui top attached segment date-segment form__field">
      <div class="ui top attached label">
        Date
      </div>

      <div id="new-shift-form-date-segment-template" class="new-shift-form__fields three">
        <%= if assigns[:days_of_month] do %>
          <%= render( @view_module, "_new-shift-date.html", assigns ) %>
            <% else %>
              {{{ dateHtml }}}
              <% end %>
      </div>


      <input type="hidden" id="dayOfMonth-default" value="<%= assigns[:day_default] || ~s() %>">

      <input type="hidden" id="monthOfYear-default" value="<%= assigns[:month_default] || ~s() %>">

      <input type="hidden" id="year-default" value="<%= assigns[:year_default] || ~s() %>">
    </div>
    <!-- /SHIFT DATE -->

    <!-- START TIME -->
    <div class="ui top attached segment start-time-segment form__field">
      <div class="ui top attached label">
        Start time
      </div>

      <div class="new-shift-form__fields two">
        <div>
          <%shift_start_time = assigns[:shift_start_time] || %{} %>
            <input name="startTimeHr" id="start-time-hour" name="start-time-hour" type="number" min="0" max="23" placeholder="HH" autocomplete="off"
              maxlength="2" value="<%= shift_start_time[:hour] || ~s({{ startTimeHr }}) %>">

            <div class="new-shift-form__error form__error hidden"></div>
        </div>

        <div>
          <input name="startTimeMin" id="start-time-min" name="start-time-min" type="number" min="0" max="59" placeholder="MM" autocomplete="off"
            maxlength="2" value="<%= shift_start_time[:minute] || ~s({{ startTimeMin }}) %>">

          <div class="new-shift-form__error form__error hidden"></div>
        </div>
      </div>

      <input type="hidden" id="startTimeHr-default" value="<%=shift_start_time[:hour] || ~s() %>">

      <input type="hidden" id="startTimeMin-default" value="<%=shift_start_time[:minute] || ~s()%>">
    </div>
    <!-- /START TIME -->

    <!-- END TIME -->
    <div class="ui top attached segment end-time-segment form__field">
      <div class="ui top attached label">
        End time
      </div>

      <div class="new-shift-form__fields two">
        <div>
          <%shift_end_time = assigns[:shift_end_time] || %{} %>
            <input name="endTimeHr" id="end-time-hour" name="end-time-hour" type="number" min="0" max="23" placeholder="HH" autocomplete="off"
              maxlength="2" value="<%= shift_end_time[:hour] || ~s({{ endTimeHr }})  %>">

            <div class="new-shift-form__error form__error hidden"></div>
        </div>

        <div>
          <input name="endTimeMin" id="end-time-min" name="end-time-min" type="number" min="0" max="59" placeholder="MM" autocomplete="off"
            maxlength="2" value="<%= shift_end_time[:minute] || ~s({{ endTimeMin }})  %>">

          <div class="new-shift-form__error form__error hidden"></div>
        </div>
      </div>


      <input type="hidden" id="endTimeHr-default" value="<%=shift_end_time[:hour] || ~s() %>">

      <input type="hidden" id="endTimeMin-default" value="<%=shift_end_time[:minute] || ~s() %>">
    </div>
    <!-- /END TIME -->

    <div class="new-shift-form__buttons">
      <div class="ui buttons">
        <button id="new-shift-form-submit" type="submit" class="ui positive button">
          Save
        </button>

        <div class="or"></div>

        <button id="new-shift-form-reset" type="button" class="ui button">
          Reset
        </button>
      </div>
    </div>
  </form>
</div>
