<div id="body-modal-dimmer" class="ui dimmer modals page transition body-modal-dimmer  body-modal-dismisser">

  <div id="body-modal" class="ui modal transition">
    <div id="body-modal-content" class="content"></div>

    <div class="actions">
      <div id="body-modal-dismiss" class="ui cancel button body-modal-dismisser">
        Dismiss
      </div>
    </div>
  </div>
</div>
