<span id="earnings-summary__label" class="earnings-summary__label">
  <%= assigns[:date] || "{{ summary.date }}" %>
    &nbsp;&nbsp;&nbsp;&nbsp; &euro;
    <%= assigns[:total_earnings] || "{{ summary.totalEarnings }}" %>
      &nbsp;&nbsp; / &nbsp;&nbsp;
      <%= assigns[:total_normal_hours] || "{{ summary.totalNormalHours }}" %> hours
</span>
