<span id="earnings-summary__label" class="earnings-summary__label">
  <%= assigns[:date] || "{{ summary.date }}" %>
    &nbsp;&nbsp;&nbsp;&nbsp; &euro;
    <span class="earnings-summary__earnings"><%= assigns[:totalEarnings] || "{{ summary.totalEarnings }}" %></span>
    &nbsp;&nbsp; / &nbsp;&nbsp;
    <span class="earnings-summary__hours"><%= assigns[:totalNormalHours] || "{{ summary.totalNormalHours }}" %></span> hours
</span>
