<% shift = assigns[:shift] %>
  <% shift_id = if shift, do: shift["id"], else: "{{#if shift.id }}{{shift.id}}{{else}}{{shift._id}}{{/if}}" %>

    <% data_value = if shift, do: Poison.encode!(shift), else: "{{jsonStringify shift}}"  %>

      <div id="shift-detail-row-<%= shift_id %>" class="shift-detail-row" data-value="<%= data_value %>">
        <%= if shift do %>
          <%= render("_shift-detail-row.html", shift: shift) %>
            <% else %>
              {{> shiftDetailRowTemplate shift=shift }}
              <% end %>
      </div>
