<span id="earnings-summary__label" class="earnings-summary__label">
  Total Earnings
  <%= assigns[:current_month] || "{{ currentMonthYear }}" %>
    (
    <%= assigns[:total_normal_hours] || "{{ totalNormalHours }}" %> hours)
</span>

<span class="earnings-summary__amount">
  &euro;
  <%= assigns[:total_earnings] || "{{ totalEarnings }}" %>
</span>
