<%= if assigns[:shift] do %>
  <div id="shift-detail-row-<%= assigns[:shift].id  %>" class="shift-detail-row">
    <%= render("_shift-detail-row.html", shift: assigns[:shift]) %>
  </div>

  <% else %>

    {{#each shifts as |shift|}}

    <div id="shift-detail-row-{{#if shift.id }}{{shift.id}}{{else}}{{shift._id}}{{/if}}" class="shift-detail-row" data-value="{{jsonStringify shift}}">
      {{> shiftDetailRowTemplate shift=shift }}
    </div>

    {{/each}}

    <% end %>
