<div class="main-index">
  <%= render("_menu.html", assigns) %>

    <div class="shifts-for-months">
      <%= if assigns[:all_shifts] do %>
        <%= for shifts_for_month <- assigns[:all_shifts] do %>
          <%= render("_shifts-for-month.html", shifts_for_month) %>
            <% end %>
              <% else %>
                {{{shiftRow}}}
                <% end %>
    </div>

    <!-- LINK TO NEW SHIFT -->
    <a id="new-shift-trigger" class="new-shift-trigger" data-off-line-link="true" href="<%= assigns[:new_shift_path] || ~s({{ newShiftPath }}) %>">
      <span class="">&plus;</span>
    </a>
    <!-- /LINK TO NEW SHIFT -->
</div>
