@import "../../variables";

.new-shift-main {
  overflow: hidden;
  display: flex;
  flex-direction: column;
}

.new-shift-route-menu {
  flex-shrink: 0;
}

.new-shift-form {
  padding: 5px;
  flex: 1;
  overflow-x: hidden;
  overflow-y: auto;
}

.new-shift-form__error-main {
  &.message {
    margin-bottom: 0.5em;
    padding: 0.5em;
  }

  .error-key {
    font-weight: 900;
  }

  .error-value {
    font-style: italic;
  }
}

.new-shift-form__fields {
  display: grid;
  grid-column-gap: 3px;

  &.three {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.two {
    grid-template-columns: 1fr 1fr;
  }
}

.form__field {
  &.segment.select-meta {
    margin-top: 0;
    padding: 0.3em;

    select {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
    }
  }
}

.meta-id.ui.input {
  display: grid;
  grid-template-columns: 1fr auto;
}

.new-shift-form__label {
  font-weight: 900;
}

.new-shift-form__control {
  width: 100%;
}

.new-shift-form__buttons,
.new-shift-confirm__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}

.new-shift-confirm__detail__item {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-column-gap: 3px;
  margin-bottom: 2px;
  border: 1px solid $app-color;
}

.top-error {
  @extend %error-container;
  margin-bottom: 5px;
  padding: 5px;
  text-align: center;
}

.new-shift-confirm__header {
  &.ui.label {
    display: block;
    margin: 0;
    border-radius: 0;
    width: 100%;
    text-align: center;
    font-weight: 900;
    font-size: 1.2rem;
  }
}

.new-shift-confirm__segment {
  &.new-shift-confirm__segment--meta.ui {
    margin-top: 0;
  }
}

.new-shift-confirm__detail__title {
  background-color: $app-color;
  color: #fff;
  padding-left: 6px;
  font-weight: 600;
}

.form__show-new-meta-form-button {
  &.ui {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }
}
