.new-shift-form {
  padding: 5px;
}

.new-shift-form__fields {
  display: grid;
  grid-column-gap: 3px;

  &.three {
    grid-template-columns: 1fr 1fr 1fr;
  }

  &.two {
    grid-template-columns: 1fr 1fr;
  }
}

.new-shift-form__labeled_input.ui.input {
  display: grid;
  grid-template-columns: auto auto;
}

.new-shift-form__label {
  font-weight: 900;
}

.new-shift-form__control {
  width: 100%;
}

.new-shift-form__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
