<form action="<%= meta_path(BurdaWeb.Endpoint, :new) %>" class="ui form new-meta-form">
  <div class="new-meta-form__fields two">
    <div class="new-meta-form__field">
      <label class="new-meta-form__label" for="break_time_secs">
        Break time
      </label>

      <div class="ui right labeled input new-meta-form__labeled_input">
        <input class="new-meta-form__control" type="text" placeholder="Break time" name="break_time_secs">
        <div class="ui dropdown label">
          <div class="text">.com</div>
          <i class="dropdown icon"></i>
          <div class="menu">
            <div class="item">.com</div>
            <div class="item">.net</div>
            <div class="item">.org</div>
          </div>
        </div>
      </div>
    </div>
    <div class="new-meta-form__field">
      <label class="new-meta-form__label" for="pay_per_hr">
        Pay per hour
      </label>

      <div class="ui left labeled input new-meta-form__labeled_input ">
        <div class="ui label ">
          <div class="text "> &euro; </div>
        </div>

        <input class="new-meta-form__control" type="text " placeholder="Pay per hour" name="pay_per_hr">
      </div>
    </div>
  </div>

  <div class="new-meta-form__fields">
    <div class="new-meta-form__field">
      <label class="new-meta-form__label" for="pay_per_hr">
        Night Suppl.
      </label>

      <div class="ui right labeled input new-meta-form__labeled_input ">
        <input class="new-meta-form__control" type="text " placeholder="Pay per hour" name="pay_per_hr">

        <div class="ui label ">
          <div class="text "> &percnt; </div>
        </div>
      </div>
    </div>

    <div class="new-meta-form__field">
      <label class="new-meta-form__label" for="pay_per_hr">
        Sunday Suppl.
      </label>

      <div class="ui right labeled input new-meta-form__labeled_input ">
        <input class="new-meta-form__control" type="text " placeholder="Pay per hour" name="pay_per_hr">

        <div class="ui label ">
          <div class="text "> &percnt; </div>
        </div>
      </div>
    </div>
  </div>

  <div class="new-meta-form__buttons">
    <div class="ui buttons">
      <button id="new-meta-form-submit" type="button" class="ui positive button">
        Save
      </button>

      <div class="or"></div>

      <button id="new-meta-form-reset" type="button" class="ui button">
        Reset
      </button>
    </div>
  </div>
</form>
