<form id="new-meta-form" class="ui form new-meta-form">
  <div id="new-meta-form__error-main" class="ui negative message hidden new-meta-form__error-main">
  </div>

  <div class="new-meta-form__fields two">
    <div class="new-meta-form__field">
      <label class="new-meta-form__label" for="break_time_secs">
        Break time
      </label>

      <div class="ui right labeled input new-meta-form__labeled_input">
        <input class="new-meta-form__control" type="text" placeholder="Break time" name="break_time_secs" autocomplete="off">

        <div class="ui label ">
          <div class="text "> min </div>
        </div>
      </div>

      <div class="new-meta-form__error hidden"></div>
    </div>
    <div class="new-meta-form__field">
      <label class="new-meta-form__label" for="pay_per_hr">
        Pay per hour
      </label>

      <div class="ui left labeled input new-meta-form__labeled_input ">
        <div class="ui label ">
          <div class="text "> &euro; </div>
        </div>

        <input class="new-meta-form__control" type="text " placeholder="Pay per hour" name="pay_per_hr" autocomplete="off">
      </div>

      <div class="new-meta-form__error hidden"></div>
    </div>
  </div>

  <div class="new-meta-form__fields">
    <div class="new-meta-form__field">
      <label class="new-meta-form__label" for="night_suppl_pay_pct">
        Night Suppl.
      </label>

      <div class="ui right labeled input new-meta-form__labeled_input ">
        <input class="new-meta-form__control" type="text " placeholder="Night supplement pay percnt" name="night_suppl_pay_pct" autocomplete="off">

        <div class="ui label ">
          <div class="text "> &percnt; </div>
        </div>
      </div>

      <div class="new-meta-form__error hidden"></div>
    </div>

    <div class="new-meta-form__field">
      <label class="new-meta-form__label" for="sunday_suppl_pay_pct">
        Sunday Suppl.
      </label>

      <div class="ui right labeled input new-meta-form__labeled_input ">
        <input class="new-meta-form__control" type="text " placeholder="Sunday pay supplement %" name="sunday_suppl_pay_pct" autocomplete="off">

        <div class="ui label ">
          <div class="text "> &percnt; </div>
        </div>
      </div>

      <div class="new-meta-form__error hidden"></div>
    </div>
  </div>

  <div class="new-meta-form__buttons">
    <div class="ui buttons">
      <button id="new-meta-form-submit" type="button" class="ui positive button">
        Save
      </button>

      <div class="or"></div>

      <button id="new-meta-form-reset" type="button" class="ui button">
        Reset
      </button>
    </div>
  </div>
</form>
