.new-meta-form {
  padding: 2px 8px 1px 5px;
  border: 1px solid green;
  border-radius: 5px;
  margin: 5px;

  & > :nth-child(2) {
    margin-top: 15px;
  }
}

.new-meta-form__fields {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-column-gap: 3px;
}

.new-meta-form__labeled_input.ui.input {
  display: grid;
  grid-template-columns: auto auto;
}

.new-meta-form__label {
  font-weight: 900;
}

.new-meta-form__control {
  width: 100%;
}

.new-meta-form__buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 15px;
}
