
  <div class="main-index">
    <div class="shift-summaries">
      <div class="earnings-summary">
        <span class="label">
          Total Eranings &nbsp; &nbsp;
        </span>

        <span class="amount">
          &euro;
        </span>
      </div>

      <div class="hours-earnings header">
        <span>Type (Net)</span>
        <span>Hours worked</span>
        <span>Earning</span>
      </div>

    </div>

    <div class="shift-details">

    </div>

    <!-- LINK TO NEW SHIFT -->

    <a id="new-shift-trigger" class="new-shift-trigger" data-off-line-link="true" href="/shifts/new">
      <span class="">&plus;</span>
    </a>

    <!-- /LINK TO NEW SHIFT -->

  </div>
