
  <div class="shift-detail-row">
    <div class="date-times">
      <span>
      </span>

      <div class="times">
        <span>
        </span>
        -
        <span>
        </span>
      </div>

      <span>
         hours &nbsp;&nbsp; (gross)
      </span>
    </div>

    <div class="hours-earnings-container">
      <div class="hours-earnings detail">
        <span>Shift</span>
        <span>
        </span>
        <span>&euro;
        </span>
      </div>

      <div class="hours-earnings detail">
        <span>Night</span>
        <span>
        </span>
        <span>&euro;
        </span>
      </div>

      <div class="hours-earnings detail">
        <span>Sunday</span>
        <span>
        </span>
        <span>&euro;
        </span>
      </div>
    </div>

    <div class="total-earning"> Total: &euro;
    </div>

  </div>
