html,
body {
  height: 100%;
}

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ui.menu {
  margin-bottom: 0;
}

main {
  overflow: hidden;
}

.body-modal-insert {
  &.hidden {
    display: none;
  }
}
