html,
body {
  height: 100%;
}

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

form {
  margin: 0 !important;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
  overflow-x: hidden;
  overflow-y: hidden;
}

.ui.menu {
  margin-bottom: 0;
}

main {
  overflow: hidden;
}

.ui.dimmer {
  padding: 15px 8px;
}

.ui.modal {
  width: 100%;

  & > .content {
    padding: 2px !important;
  }

  .actions {
    padding: 5px !important;

    & > .buttons,
    .button {
      margin: 0 !important;
    }
  }
}

.ui.label {
  background-color: #21ba45;
  color: white;
}
