html,
body {
  height: 100%;
}

[role="button"],
a,
area,
button,
input,
label,
select,
summary,
textarea {
  touch-action: manipulation;
}

.app-container {
  height: 100%;
  display: grid;
  grid-template-rows: auto 1fr;
}

.ui.menu {
  margin-bottom: 0;

  .main-menu__title {
    font-weight: 900;
  }
}

.new-shift-button {
  position: absolute;
  right: 20px;
  bottom: 20px;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: green;
  color: white;
  cursor: pointer;
  z-index: 101;

  & > span {
    font-weight: 900;
    font-size: 1.5em;
  }
}

main {
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0 5px 0 5px;
}
