<% shift = assigns[:shift] || %{} %>

  <div class="shift-detail-row">
    <div class="date-times">
      <span>
        <%= format_week_day_name_month_day(shift[:date]) %>
      </span>

      <div class="times">
        <span>
          <%= format_time_iso(shift[:start_time]) %>
        </span>
        -
        <span>
          <%= format_time_iso(shift[:end_time]) %>
        </span>
      </div>

      <span>
        <%= shift[:hours_gross] %> hours &nbsp;&nbsp; (gross)
      </span>
    </div>

    <div class="hours-earnings-container">
      <div class="hours-earnings detail">
        <span>Shift</span>
        <span>
          <%= shift[:normal_hours] || "" %>
        </span>
        <span>&euro;
          <%= shift[:normal_pay] || "" %>
        </span>
      </div>

      <div class="hours-earnings detail">
        <span>Night</span>
        <span>
          <%= shift[:night_hours] || "" %>
        </span>
        <span>&euro;
          <%= shift[:night_suppl_pay] || "" %>
        </span>
      </div>

      <div class="hours-earnings detail">
        <span>Sunday</span>
        <span>
          <%= shift[:sunday_hours] || "" %>
        </span>
        <span>&euro;
          <%= shift[:sunday_suppl_pay] || "" %>
        </span>
      </div>
    </div>

    <div class="total-earning"> Total: &euro;
      <%= shift[:total_pay] || "" %>
    </div>

  </div>
