<span id="earnings-summary__label" class="earnings-summary__label">
  Total Earnings &nbsp; &nbsp;
  <%= assigns[:current_month] || "{{ currentMonthYear }}" %>
</span>

<% all_shifts = assigns[:all_shifts] %>

  <span class="earnings-summary__amount">
    &euro;

    <%= if all_shifts == [] do %>
      0.00
      <% else %>
        <%= total_earnings(all_shifts) || "{{ totalEarnings }}" %>
          <% end %>
  </span>
