<% all_shifts = assigns[:all_shifts] || []  %>

  <div class="main-index">
    <div class="shift-summaries">
      <div class="earnings-summary">
        <span class="label">
          Total Earnings &nbsp; &nbsp;
          <%= assigns[:current_month] || "" %>
        </span>

        <span class="amount">
          &euro;
          <%= total_earnings(all_shifts) %>
        </span>
      </div>

      <div class="hours-earnings header">
        <span>Type (Net)</span>
        <span>Hours worked</span>
        <span>Earning</span>
      </div>

    </div>

    <div id="index-route-shifts-details" class="index-route-shifts-details">
      <%= for shift <- all_shifts do %>
        <% shift = Map.from_struct(shift) %>
          <%= render("_shift-detail.html", shift: shift) %>
            <% end %>
    </div>

    <!-- LINK TO NEW SHIFT -->

    <a id="new-shift-trigger" class="new-shift-trigger" data-off-line-link="true" href="<%= shift_path(BurdaWeb.Endpoint, :new) %>">
      <span class="">&plus;</span>
    </a>

    <!-- /LINK TO NEW SHIFT -->

  </div>
